body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #28283d;
    display: flex;
}

.navbar {
    width: 250px;
    height: 100vh;
    display: flex;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #1f1f2e;
    color: #ffffff;
}

.navbar-logo {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.navbar-logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.navbar-logo span {
    font-size: 24px;
    font-weight: bold;
}

.navbar-coins {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.navbar-coins img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.navbar-coins span {
    font-size: 18px;
}

.navbar-links-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navbar-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 20px;
    transition: background-color 0.3s;
}

.navbar-link:hover {
    background-color: #33334d;
}

.navbar-user {
    margin-top: auto;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #33334d;
    border-radius: 10px;
}

.navbar-user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.navbar-user span {
    font-size: 18px;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 40px;
    margin-right: 380px;
}

.header {
    background-color: #8A2387;
    background: -webkit-linear-gradient(to right, #8A2387, #E94057, #F27121);
    background: linear-gradient(to right, #8A2387, #E94057, #F27121);
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    margin-left: 240px;
    margin-right: 130px;
    border-radius: 10px;
}

.counter {
    padding-top: 15px;
    align-items: center;
    font-weight: bold;
}

.search-bar {
    width: 300px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-right: auto;
}

.banner {
    background: -webkit-linear-gradient(to right, #8A2387, #E94057, #F27121);
    background: linear-gradient(to right, #8A2387, #E94057, #F27121);
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    margin-left: 240px;
    margin-right: 130px;
}

.banner h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.banner p {
    font-size: 16px;
    margin-bottom: 20px;
}

.banner-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.donate-button,
.learn-more-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
}

.donate-button {
    background-color: #6200ea;
    color: #ffffff;
}

.learn-more-button {
    background-color: #ffffff;
    color: #6200ea;
    border: 1px solid #6200ea;
}

.content-wrapper {
    display: flex;
    gap: 20px;
    margin-left: 260px;
    margin-right: 130px;
}

.content {
    flex-grow: 1;
}

.content-header {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.content-button {
    padding: 10px 20px;
    border: #7700ff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: #ffffff;
    color: #7700ff;
    transition: background 0.3s ease;
}

.content-button:hover {
    background-color: #7700ff;
    color: #ffffff;
}

.albums {
    display: flex;
    overflow-x: hidden; /* Hide the scrollbar */
    white-space: nowrap; /* Prevent line breaks */
    width: 100%;
    position:relative;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.album {
    display: inline-block;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    margin-right: 20px; /* Space between albums */
}

.album img {
    width: 100px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.album span {
    display: block;
    margin-bottom: 10px;
}
.see-details {
    text-decoration: none;
    color: #6200ea;
}

.trending {
    width: 250px;
    height:920px;
    background: #654ea3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 20px;
    border-radius: 10px;
    position: fixed;
    top: 20px;
    right: 20px;
}

.trending h1 {
    font-size: 23px;
    margin-bottom: 35px;
}

.trending ul {
    list-style:decimal;
    padding: 0;
}

.trending li {
    margin-left: 30px;
    margin-top: 20px;;
    margin-bottom: 20px;
}

.trending a {
    font-size: 19px;
    text-decoration:none;
    color: #000000;
}

#ads{
    color: #6200ea;
    padding-top: 80px;
    padding-left: 20px;
}

img {
    max-width: 100%;
    height: auto;
}