body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    border-radius: 8px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}

header p {
    margin: 0;
    font-size: 18px;
    color: #666;
}

main {
    text-align: center;
}

audio {
    width: 100%;
    margin-bottom: 20px;
}

.comments {
    text-align: left;
}

.comments h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

#comment-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#comment-text {
    font-family: 'Poppins', sans-serif;
    flex-grow: 1;
    margin-right: 10px; /* Adjust spacing between text area and button */
    /* Other styles remain unchanged */
    border-radius: 10px; /* Adjust the px value to your preference for roundness */
    padding: 10px;
    text-align: left;
}

#comment-text::placeholder {
    font-family: 'Poppins', sans-serif;
    opacity: 0.5;
}

button {
    padding: 10px;
    border: none;
    font-size: 16px;
}

button:hover {
    background-color: #bbbbbb;
}

/* Add styles for the send icon */
.send-icon {
    display: block;
    background-image: url(../pic/send-icon.png); /* Path to your send icon image */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#comment-list {
    margin-top: 20px;
}

.comment {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}
